# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Разработка\Itlogia\2 блок\Селекторы. Приоритеты и правила. Урок 12\homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
